body {
    background-color: #0f172a;
    color: Black;
    font-family: times new roman;
    text-align: center;
}

header {
    padding: 30px;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
}
